<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My Contacts</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <mat-tab-group>

    <mat-tab label="Todos"></mat-tab>

    <mat-tab label="Novo">
        <mat-card class="half-width">
          <mat-card-title>Novo Contato</mat-card-title>
            <form [formGroup]="formulario" (ngSubmit)="submit()" >

              <mat-form-field class="full-width"> 
                  <mat-label>Nome: </mat-label>
                  <input formControlName="nome" matInput placeholder="Digite seu nome"/>
              </mat-form-field>
              <div *ngIf="formulario.controls.nome.errors?.required" >Campo nome e Obrigatorio</div>
          
              <mat-form-field class="full-width">
                  <mat-label>Email: </mat-label>
                  <input formControlName="email" matInput placeholder="Digite seu email"/>
              </mat-form-field>
              <div *ngIf="this.formulario.controls.email.errors?.required" >Campo email e Obrigatorio</div>
              <div *ngIf="this.formulario.controls.email.errors?.email" >Campo invalido</div><br>
          
              <button  mat-raised-button color="primary">Adicionar</button>
          
          </form>
       </mat-card>
    </mat-tab>

  </mat-tab-group>

<br/>
