<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My Contacts</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

<br/>
<form [formGroup]="formulario" (ngSubmit)="submit()" >

    <mat-form-field class="example-full-width"> 
        <mat-label>Nome: </mat-label>
        <input formControlName="nome" matInput placeholder="Digite seu nome"/>
        <div *ngIf="formulario.controls.nome.errors?.required" >Campo nome e Obrigatorio</div>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Email: </mat-label>
        <input formControlName="email" matInput placeholder="Digite seu email"/>
        <div *ngIf="this.formulario.controls.email.errors?.required" >Campo email e Obrigatorio</div>
        <div *ngIf="this.formulario.controls.email.errors?.email" >Campo invalido</div>
    </mat-form-field>

    <button  mat-raised-button color="primary">Adicionar</button>

</form>